@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 0 10%;
  max-width: 2000px;
}

button:hover {
  cursor: pointer;
}

#header-container {
  background-image: url("../images/header-background.png");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#header-container .container {
  color: white;
  font-size: 25px;
}

#header-container h2 {
  font-weight: bolder;
  font-size: 45px;
}

#header-container .row:first-of-type {
  margin-top: 0;
}

#header-container .row {
  margin: 8% 0;
}

#header-container .row:last-of-type {
  margin-bottom: 0;
  padding-bottom: 2%;
}

#main-title {
  color: #a5ffe9 !important;
}

#button-header {
  border-radius: 30px;
  background-color: #a5ffe9;
  color: #353584;
  height: min-content;
  padding: 10px 50px;
  font-weight: bolder;
  border: none;
}

#play-logo {
  max-width: 100px;
}

#criptocards-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

#criptocards-container .card {
  border: none;
}

#about-container {
  background-color: #e5e5e5;
  padding-bottom: 70px;
}

.card-about-header {
  margin-bottom: -20px;
}

.card-about-body {
  background: linear-gradient(180deg, #ffffff 47.4%, #f7e9ff 100%);
  height: 280px;
  color: #222222;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  border-radius: 6px;
}

.card-about-body h3 {
  color: #353584;
}

.card-about-body.primary {
  color: #fff;
  height: 320px;
  background: linear-gradient(139.91deg, #4e3584 9.77%, #9b5bc1 58.9%);
}

.card-about-body.primary h3 {
  color: #fff;
}

.card-about-button {
  border-radius: 30px;
  background-color: #a5ffe9;
  color: #353584;
  height: min-content;
  padding: 10px 50px;
  font-weight: bolder;
  border: none;
}

.card-about-footer {
  margin-top: -20px;
}

.number-stadistics {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bolder;
  color: #9b5bc1;
  font-size: 45px;
}

.text-stadistics {
  font-size: 20px;
  margin-bottom: 20px;
}

#services-section {
  background: url("../images/services-section-background.png");
  background-position: center top;
  background-size: 100% auto;
}

.services-button {
  border-radius: 30px;
  background-color: #a5ffe9;
  color: #353584;
  height: min-content;
  padding: 10px 50px;
  font-weight: bolder;
  border: none;
  margin: 10px 0 20px 0;
}

#routesheet-section {
  background: url("../images/routesheet-section-background.png");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}

.route-card-container {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.route-card-container:last-of-type {
  border-right: none;
}

.route-card-code {
  color: #A5FFE9;
  font-size: 50px;
}

.route-card-title {
  color: #A5FFE9;
  font-size: 20px;
}

.route-card-body {
  color: #FFF;
  font-size: 17px;
}

#news-section {
  background-color: #E5E5E5;
}

#news-section h2 {
  margin-top: 60px;
  color: #9B5BC1;
  text-align: center;
  margin-bottom: 40px;
}

.news-card {
  background-color: #FFF;
  max-width: 300px;
  max-height: 360px;
  min-width: 300px;
  min-height: 360px;
  border-radius: 6px;
}

.news-card-title {
  margin: 20px 20px;
  font-weight: bold;
  font-size: 16px;
}

.news-card-description {
  margin: 10px 20px;
  font-size: 13px;
}

.news-button-container {
  margin-top: -22px;
}

.news-button {
  border-radius: 30px;
  background-color: #a5ffe9;
  color: #353584;
  height: min-content;
  padding: 10px 50px;
  font-weight: bolder;
  border: none;
  margin-bottom: 50px;
}

#footer-section {
  background: url("../images/footer-background.png");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 20px 0;
}

.copyright-text {
  font-size: 12px;
  color: #FFF;
}

@media (max-width: 1700px) {
  #header-container h2 {
    font-size: 40px;
  }

  #header-container .container {
    font-size: 20px;
  }

  #header-container .row {
    margin: 6% 0;
  }
}

@media (max-width: 1370px) {
  #header-container h2 {
    font-size: 30px;
  }

  #header-container .container {
    font-size: 13px;
  }

  #header-container .row {
    margin: 5% 0;
  }

  #routesheet-section {
    background-size: auto;
  }
}

@media (max-width: 991px) {
  #header-container {
    overflow: hidden;
  }

  .navbar-collapse {
    background-color: white;
    margin: 0 -19%;
    padding: 0 10%;
  }

  .nav-link {
    color: black !important;
  }
}

@media (max-width: 860px) {
  #header-container h2 {
    font-size: 25px;
  }

  #header-container .container {
    font-size: 11px;
  }

  #button-header {
    padding: 5px 20px;
  }
}

@media (max-width: 767px) {
  .route-card-container {
    border-right: none;
  }
}

@media (max-width: 710px) {
  #header-container h2 {
    font-size: 20px;
  }

  #header-container .container {
    font-size: 11px;
  }

  #header-container .row {
    margin: 2% 0;
  }
}

@media (max-width: 447px) {
  #header-logo {
    width: 150px;
    height: 30px;
  }
}
